<div class="container">
    <div class="preview">
        <h3 style="margin-left: 50px;display: flex;margin-bottom: 10px;margin-top: 10px;text-align:justify;"><span style="margin-right: 20px;">3.1.3</span>Índices demográficos, sociales, económicos, de ocupación laboral y otros similares</h3>
    <p style="text-align:justify;margin-bottom: 5px;">Para la descripción del aspecto socioeconómico se ha utilizado una combinación de métodos y técnicas cualitativas de investigación social, entre ellas se ha seleccionado las técnicas de entrevistas semiestructuradas con autoridades locales y/o informantes calificados, así como de encuestas de carácter socioeconómico. Además de ello, se ha recurrido a la recopilación de documentos que luego son contrastados y completados con la consulta de diversas fuentes de información oficiales actualizadas respecto al área de influencia social tales como el Censo Nacional INEI (2017), Escale – MINEDU, la base de datos de la Oficina General de Estadística e Informática del Ministerio de Salud, entre otros.</p>
    <h3 style="display: flex;margin-bottom: 10px;margin-top: 10px;text-align:justify;"><span style="margin-right: 20px;">A</span>Fuentes primarias</h3>
    <p style="text-align:justify;margin-bottom: 5px;">Dentro de las fuentes primarias se consideran a las autoridades comunales y locales, así como pobladores que fueron entrevistados y proporcionaron información cualitativa y cuantitativa. Esta información de primera mano muestra datos fidedignos que proporcionan un alcance más cercano de la realidad en la que se desarrollan las poblaciones del área de influencia social. Para la obtención de información cualitativa, se realizaron un total de <span class="cantidadEntrevistas subrayado">...</span> entrevistas en profundidad a informantes calificados y autoridades locales, tanto de la <span class="componenteFuentesPrimarias1 subrayado">....</span></p>
    <p style="text-align:justify;margin-bottom: 5px;">A continuación, se muestra en el siguiente cuadro los cargos u ocupaciones principales de las <span class="cantidadEntrevistas subrayado">...</span> autoridades e informantes que fueron entrevistados durante el trabajo de campo llevado a cabo en el mes de <span class="fechaEntrevistas subrayado"></span>. </p>
    <p style="text-align: center;font-weight: 700;">Cuadro N° 3. 1</p>
    <p style="text-align: center;font-weight: 700;">Lista de entrevistados</p>
    <table style="width: 100%;margin-top: 10px;border-spacing: 0;margin-bottom: 10px;border-collapse: collapse;">
        <tr>
            <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px">Nombres y apellidos</th>
            <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px;border-left: none;border-right: none;">Cargo u Ocupación</th>
            <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px">Organización</th>
        </tr>
        <tbody id="listaEntrevistadosTable"></tbody>
    </table>
    <p style="text-align:justify;margin-bottom: 5px;">Fuente:<span class="nombreConsultora subrayado">...</span> </p>
    <p style="text-align:justify;margin-bottom: 5px;">Por otro lado, en lo que respecta a información cuantitativa, se aplicaron un total de <span class="cantidadEncuestas subrayado">...</span> encuestas dentro del AISD <span class="componenteFuentesPrimarias2 subrayado">....</span> para obtener información socioeconómica más generalizada como datos de su ocupación principal, nivel educativo, integrantes de la familia, características de la vivienda, así como de sus actividades económicas (agricultura, ganadería, pesca, etc.).</p>
    <div id="contenidoAndTablesFuentesInformacion"></div>
    <p style="text-align:justify;margin-bottom: 5px;">Fuente:<span class="nombreConsultora subrayado">...</span> </p>
    <p style="text-align:justify;margin-bottom: 5px;">En el caso del AISD, es la única área de influencia en donde se ha considerado el recojo de información cuantitativa de fuentes primarias a través de las encuestas, mientras que para la descripción y caracterización del AISI (<span class="jsAISIComponent1 subrayado">.......</span>) se ha optado por hacer uso únicamente de fuentes secundarias oficiales debido a <span class="AISIJustificacion subrayado">.......</span></p>
    <h3 style="display: flex;margin-bottom: 10px;margin-top: 10px;text-align:justify;"><span style="margin-right: 20px;">B</span>Fuentes secundarias</h3>
    <ul>
        <li style="list-style: disc;margin-left: 20px;">Censos Nacionales 2017 ejecutados por el Instituto Nacional de Estadística e Informática (INEI).</li>
        <li style="list-style: disc;margin-left: 20px;"> Censo Agropecuario 2012 (INEI)</li>
        <li style="list-style: disc;margin-left: 20px;">   Estadísticas de la Calidad Educativa (ESCALE) de la Unidad de Estadística del Ministerio de Educación (MINEDU).</li>
        <li style="list-style: disc;margin-left: 20px;">   Oficina de Estadística e Informática del Ministerio de Salud (MINSA).</li>
        <li style="list-style: disc;margin-left: 20px;">   Ministerio de Transporte y Comunicaciones (MTC).</li>
        <li style="list-style: disc;margin-left: 20px;">   Ministerio de Energía y Minas (MINEM).</li>
        <li style="list-style: disc;margin-left: 20px;">   Ministerio de Trabajo y Promoción del Empleo (MTPE)</li>
        <li style="list-style: disc;margin-left: 20px;">   Organismo Supervisor de Inversión Privada en Telecomunicaciones – OSIPTEL.</li>
        <li style="list-style: disc;margin-left: 20px;">   Programa de Naciones Unidas para el Desarrollo -PNUD.</li>
        <li style="list-style: disc;margin-left: 20px;">  Observatorio Socio Económico Laboral (OSEL).</li>
        <li style="list-style: disc;margin-left: 20px;">  REUNIS: Repositorio Único Nacional de Información en Salud </li>
        <li style="list-style: disc;margin-left: 20px;">  Repositorio digital de información multisectorial – REDInforma del Ministerio de Inclusión y Desarrollo Social (MIDIS).</li>
    </ul>
    </div>

    <div class="formulario">
        <h3>Fuentes de información</h3>

        <!-- <label>Seleccionar Elemento:</label>
        <select [(ngModel)]="seleccionActual">
            <option value="">-- Seleccione --</option>
            <option *ngFor="let opcion of opcionesFormateadas" [value]="opcion">
                {{ opcion }}
            </option>
        </select>

        <button (click)="agregarSeleccionado()" [disabled]="!seleccionActual">Agregar</button>

        <button (click)="seleccionarTodos()">Seleccionar Todos</button>

        <h3>Elementos Seleccionados</h3>
        <ul>
            <li *ngFor="let item of datos.seleccionadosAISI; let i = index">
              {{ item }}
              <button (click)="eliminarSeleccionado(i)" style="margin-left: 10px;">❌</button>
            </li>
          </ul>
       
          <label>AISI Componente 1:</label>
        <input type="text" [(ngModel)]="datos.aisiComponente1">

        <label>AISI Componente 2:</label>
        <input type="text" [(ngModel)]="datos.aisiComponente2">

        <button (click)="regresar()">Atrás</button>
        <button (click)="siguientePaso()">Siguiente</button> -->

    </div>
</div>